// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Muli|Raleway')

// VARIABLES
$open-sans: 'Open Sans', sans-serif
$raleway: 'Raleway', sans-serif
$muli: 'Muli', sans-serif
$blue: #0072ff
$red: #d92f2f
$green: #3eda75
$black: #333
$subtle-black: #444756
$light-subtle-black: #7e829c
$grey: #555
$light-grey: #999

// TYPOGRAPHY
h1
  font-family: $muli !important
  font-size: 40px
  color: $black

h2
  font-family: $raleway !important
  font-size: 30px !important
  color: $black

h3
  font-family: $muli
  font-size: 20px
  color: $black

h4
  font-family: $muli
  font-size: 16px
  color: $black

h5
  font-family: $muli !important
  font-size: 15px !important
  font-weight: bold !important
  color: $black
  margin-top: 25px

p
  font-family: $muli
  font-size: 15px
  color: $subtle-black

// STYLING
body
  background-color: #f1f5fa
  background-attachment: fixed
  background-repeat: none
  background-position: center
  overflow-x: hidden

#content-wrapper
  width: 960px
  margin: auto

// HEADER
header
  margin: 40px 0px 50px 0px

.header
  color: white

.logo2
  height: 50px
  opacity: 1

  &:hover
    opacity: 0.8

// NAVIGATION BAR
nav
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1)
  background-color: white

.first
  border-top: 3px solid #3690ff
  padding: 0 !important

.second
  border-top: 1px solid rgba(0,0,0,0.1) !important
  margin-bottom: 20px
  padding: 0 0 0 5px !important

.navbar-brand
  margin-left: 45px
  color: $blue !important
  font-family: $muli
  font-weight: bold

ul
  list-style: none
  font-family: $open-sans
  font-size: 15px
  float: right

li.nav-item
  display: inline-block
  margin-left: 35px
  vertical-align: middle

.fa
  display: inline !important

.nav-item.right
  float: right
  width: 200px

.nav-link
  padding: 25px 0px 25px 0px !important
  color: $light-subtle-black !important
  cursor: pointer

  &:hover
    color: $subtle-black !important
  &:active
    color: $subtle-black !important

.pointer
  cursor: pointer

.active
  border-bottom: 2px solid $blue
  color: $subtle-black !important
  font-weight: 600

.active-second
  font-weight: 600
  color: $subtle-black !important

.divider
  border-bottom: 1px solid #fafafa
  margin-left: 45px
  margin-right: 45px

.fa .fa-plus-circle
  color: $blue
  font-size: 40px

// CONTENT
.container
  max-width: 960px
  margin-top: 50px
  margin-bottom: 25px
  background-color: white
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1)
  padding: 50px !important
  border-radius: 5px

.container-fluid
  padding-bottom: 25px

  h2
    margin-bottom: 25px
    padding-bottom: 25px
    border-bottom: 1px solid rgba(0,0,0,0.1)

h5.index
  margin-top: 25px !important
  margin-bottom: 25px

.tomorrow
  color: rgba(126,130,156,0.5)!important

.task-list
  margin-bottom: 10px

.custom-control-description
  color: $light-subtle-black !important
  margin-bottom: 10px

.custom-control-description2
  color: rgba(126,130,156,0.3)!important
  margin-bottom: 25px

.checkbox-tmrw
  color: rgba(126,130,156,0.3)!important

.footer
  text-align: center
  margin-bottom: 25px
  color: $light-subtle-black

// PROJECT

h3.project
  font-family: $muli
  font-size: 16px
  font-weight: 500
  color: $black

h3.project-header
  color: $black
  font-family: $raleway
  font-size: 18px
  font-weight: bold

.col.proj.header
  background-color: #dee0f1
  padding: 16px 25px 10px 25px !important
  border-right: 1px solid rgba(0,0,0,0.1)
  vertical-align: center
  width: 20%


  &:first-child
    border-left: none

  &:last-child
    border-right: none

.col.proj
  border-right: 1px solid rgba(0,0,0,0.1)
  background-color: white
  width: 20%
  padding: 0 !important

.table-wrapper
  margin-left: 40px
  margin-right: 40px

.project-button
  margin-top: 20px
  margin-bottom: 20px
  padding: 6px 15px 6px 15px !important
  font-family: $muli
  font-size: 13px !important
  border-radius: 25px !important
  float: right !important

.btn-link.logout
  background-color: none !important
  border: none
  color: $subtle-black
  padding: 0 !important
  text-align: left !important
  text-decoration: none

  &:hover
    text-decoration: none
    color: #b73939
    cursor: pointer

.btn-secondary
  background-color: transparent  !important
  color: $subtle-black !important
  border-color: rgba(0,0,0,0.3) !important
  font-size: 15px !important

.btn-group.projectBtn
  margin-right: 15px

.btn-primary
  font-size: 14px !important

a.new-project
  color: white !important

  &:hover
    color: white !important
    text-decoration: none

.btn.btn-link.delete
  opacity: 0.2
  display: none

  &:hover
    opacity: 1
    cursor: pointer

.btn.btn-link.edit
  opacity: 0.2
  display: none

  &:hover
    opacity: 1
    cursor: pointer

div.project
  padding: 15px 20px 0px 20px
  border-bottom: 1px solid rgba(0,0,0,0.1)
  &:hover
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2)

div.projects
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1)
  margin-top: 20px
  padding-left: 15px
  padding-right: 15px

p.company
  font-size: 11px

p.value
  font-size: 11px
  float: right
  margin-top: -30px

// NEW PROJECT

div.container.new-project
  width: 425px
  padding: 25px !important
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2)

.modal
  display: none /* Hidden by default */
  position: fixed /* Stay in place */
  z-index: 1 /* Sit on top */
  padding-top: 100px /* Location of the box */
  left: 0
  top: 0
  width: 100% /* Full width */
  height: 100% /* Full height */
  overflow: auto /* Enable scroll if needed */
  background-color: rgb(0,0,0) /* Fallback color */
  background-color: rgba(0,0,0,0.4) /* Black w/ opacity */


/* Modal Content */
.modal-content
  position: relative
  margin: auto
  padding: 0
  width: 425px
  padding: 25px !important
  border-color: transparent !important
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2)
  -webkit-animation-name: animatetop
  -webkit-animation-duration: 0.4s
  animation-name: animatetop
  animation-duration: 0.4s

.modal-header
  padding: 0 !important
  padding-bottom: 15px !important
  align-items: initial !important
  display: block !important

/* The Close Button */
.close
  color: black
  float: right
  font-size: 28px
  font-weight: bold
  margin-top: -33px

.close:hover,
.close:focus
  color: #000
  text-decoration: none
  cursor: pointer

/* Add Animation */
@-webkit-keyframes animatetop
  from
    top: -300px
    opacity: 0
  to
    top: 0
    opacity: 1


@keyframes animatetop
  from
    top: -300px
    opacity: 0
  to
    top: 0
    opacity: 1


textarea
  border-radius: 5px
  border: 1px solid rgba(0,0,0,0.2)
  font-family: $muli
  font-size: 12px
  outline: none
  margin-bottom: 15px
  width: 100%
  padding-left: 10px
  padding-top: 4px
  height: 35px
  line-height: 1.5

  &:focus
    border: 1px solid $blue

span.input-group-addon.value
  border-top-left-radius: 0px
  border-bottom-left-radius: 0px
  height: 35px
  vertical-align: middle

textarea.title
  resize: none

textarea.contact
  resize: none

textarea.company
  resize: none

textarea.value
  resize: none
  border-top-right-radius: 0px
  border-bottom-right-radius: 0px

p.project.create
  margin-top: 10px
  margin-bottom: 5px
  color: $light-subtle-black

h1.title.new-project
  font-size: 24px
  width: 100%

.btn-group.stages
  width: 100%
  height: 35px

.btn-primary.stages
  width: 100%
  margin-right: 2px

.btn-primary.stages.active
  border-color: transparent

.btn-group.lock
  height: 35px
  width: 100%

.btn-primary.lock
  margin-right: 2px
  color: $subtle-black
  width: 100%
  border-color: white !important
  background-color: rgba(0,0,0,0.1)
  height: 35px

  &:hover
    background-color: rgba(0,0,0,0.2)
    color: $subtle-black

.btn-primary.lock.active
  background-color: $light-subtle-black
  color: white !important

.btn:focus
  outline: none !important
  box-shadow: none !important

.btn-primary.project
  cursor: pointer
  width: 100%
  height: 35px

.btn-primary.contact
  cursor: pointer
  width: 100%
  height: 35px
  margin-top: 20px

.alert-danger.project
  width: 100%

div.team
  padding: 20px
  margin-bottom: 25px
  border-left: 2px solid $blue
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2)
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  transition: 100ms

  &:hover
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3)
    border-left: 3px solid $blue
    transition: 100ms

div.team2
  padding: 20px
  margin-bottom: 25px
  border-left: 2px solid $green
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2)
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  transition: 100ms

  &:hover
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3)
    border-left: 3px solid $green
    transition: 100ms

h3.team
  font-size: 24px

p.team-desc

p.team-members
  color: $light-subtle-black

  &:hover
    color: $blue

div.profile-pic
  display: inline-block
  width: 150px
  height: 150px
  background-position: center center
  background-size: cover
  border-radius: 15px
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2)

.profile-pic:hover
  width: 150px
  height: 150px
  opacity: 0.9
  border-radius: 15px

#change-profile-pic
  height: 150px
  width: 150px
  position: absolute
  border-radius: 15px
  text-align: center
  background-color: rgba(1, 101, 199, 0.3)
  margin-top: -155px
  color: white
  line-height: 150px
  font-family: $muli
  opacity: 0
  transition: 200ms


#change-profile-pic:hover
  opacity: 1
  border: 2px solid $blue
  transition: 200ms

a.change-pic
  color: white
  text-decoration: none

h4.welcome
  font-family: $muli

#user-info
  display: inline-block
  vertical-align: top
  margin-left: 20px

ul.profile
  margin-right: 25px
  padding-left: 25px
  border-left: 2px solid $light-subtle-black

li.profile
  margin-bottom: 10px

a.profile
  color: $light-subtle-black

  &:hover
    color: $subtle-black
    text-decoration: none

.col.contact
  width: 18%
  border: 1px solid rgba(0,0,0,0.1)
  padding: 5px
  padding-left: 10px
  color: $subtle-black
  flex-basis: auto

.col.deals
  width: 5%
  border: 1px solid rgba(0,0,0,0.1)
  padding: 5px
  padding-left: 10px
  color: $subtle-black
  flex-basis: auto

h2.title
  margin-bottom: 25px

h2.title.no-margin
  margin-bottom: 8px

h4.sub-title
  display: inline-block
  font-family: $raleway
  font-size: 20px
  font-weight: 100
  color: $light-subtle-black
  margin-bottom: 25px

.btn-primary.add-people
  float: right
  margin-left: 25px

.btn-primary.create-team
  float: right

.btn-secondary.join-team
  float: right
  margin-left: 15px

h4.team
  font-family: $muli
  font-size: 24px

p.contacts
  margin-top: 5px !important
  margin-bottom: 5px !important
  color: $subtle-black

.form-control.search
  height: 35px

.input-group
  height: 36px
  width: 400px !important
  float: right

.input-group-btn
  height: 36px

.btn-secondary.search
  border-top-right-radius: 5px !important
  border-bottom-right-radius: 5px !important
  width: 60px
